@inject Server Server
@model IReadOnlyList<KeyValuePair<string, App>>

@{
    IEnumerable<AppSettings> appList = Model.Select(x => x.Value).Select(x => x.Settings);
}

<h2 class="title is-4">DaemonCenter で管理されている App 一覧</h2>

<table class="table is-hoverable is-bordered is-striped is-narrow is-fullwidth">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().Value.Settings.AppName)</th>
            <th align="right">アクティブ</th>
            <th align="right">非アクティブ</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var kv in Model)
        {
            string appId = kv.Key;
            App app = kv.Value;
            AppSettings settings = app.Settings;

            <tr>
                <th><a asp-action="Status" asp-route-id="@appId">@settings.AppName</a></th>
                <th align="right">@app.GetActiveInstances(Page.Now, true).Count()</th>
                <th align="right">@app.GetActiveInstances(Page.Now, false).Count()</th>
            </tr>
        }
    </tbody>
</table>

<p>
    <a class="button is-info" asp-action="Add">新しい App 設定を追加</a>
</p>
<p>　</p>
<p>
    <a asp-controller="Home" asp-action="Index">トップページに戻る</a>
</p>


