@inject Server Server
@model IReadOnlyList<KeyValuePair<string, App>>

@{
    Model._MarkNotNull();
    IEnumerable<AppSettings?> appList = Model.Select(x => x.Value).Select(x => x.Settings);
}

<h2 class="title is-4">DaemonCenter で管理されている App 一覧</h2>

<table class="table is-hoverable is-bordered is-striped is-narrow is-fullwidth">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().Value.Settings!.AppName)</th>
            <th align="right">アクティブ</th>
            <th align="right">非アクティブ</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var kv in Model)
        {
            string appId = kv.Key;
            App app = kv.Value;
            AppSettings settings = app.Settings!;

            <tr>
                <td><a asp-action="Status" asp-route-id="@appId"><b>@settings.AppName</b></a></td>
                <td align="right"><a asp-action="Status" asp-route-id="@appId" asp-route-mode="1"><b>@app.GetActiveInstances(Page.Now, true).Count()</b></a></td>
                <td align="right"><a asp-action="Status" asp-route-id="@appId" asp-route-mode="2"><b>@app.GetActiveInstances(Page.Now, false).Count()</b></a></td>
            </tr>
        }
    </tbody>
</table>


